@import "../variables";
@import "../global/mixins";

.page-content__container {
  padding-left: 20px;
  padding-right: 20px;
}

@media #{$desktop} {
  .page-content__container {
    width: 940px;

    margin: 0 auto;

    padding-left: 0;
    padding-right: 0;
  }
}
